<!--
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar w-100">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 d-flex">
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/docentes/listarDocentes" routerLinkActive="active">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos/crearCursos" routerLinkActive="active">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/CompetenciasAprendizaje/listarCompetenciasAprendizajeP" routerLinkActive="active">Competencias de Aprendizaje</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">Logo</a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" aria-current="page" routerLink="" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/docentes/listarDocentes" routerLinkActive="active">Docentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#">Evaluadores Externos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cursos/crearCursos" routerLinkActive="active">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/CompetenciasAprendizaje/listarCompetenciasAprendizajeP" routerLinkActive="active">Competencias de Aprendizaje</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          -->
        </ul>
        <!--
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
      </div>
    </div>
    <a class="login-button" routerLink="/Login" routerLinkActive="active">Login</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>