<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/docentes/listarDocentes" routerLinkActive="active">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/CompetenciasAprendizaje/listarCompetenciasAprendizajeP" routerLinkActive="active">Competencias de Aprendizaje</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/docentes/listarDocentes" routerLinkActive="active">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/CompetenciasAprendizaje/listarCompetenciasAprendizajeP" routerLinkActive="active">Competencias de Aprendizaje</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->