<div class="card shadow-sm rounded-4">
  <div class="card-header bg-primary text-white fw-bold">{{ title }}</div>
  <div class="card-body">
    <form #formCurso="ngForm" autocomplete="off">
      <!-- Asignatura -->
      <div class="row mb-3 align-items-center">
        <label for="asignatura" class="col-sm-3 col-form-label">Asignatura</label>
        <div class="col-sm-9">
          <select class="form-select" [(ngModel)]="curso.idAsignatura" name="asignatura" id="asignatura"
            [class.is-invalid]="formCurso.submitted && !curso.idAsignatura">
            <option [ngValue]="null" disabled selected>Seleccione una asignatura</option>
            <option *ngFor="let asignatura of asignaturas" [ngValue]="asignatura.id">{{ asignatura.nombre }}</option>
          </select>
          <div *ngIf="formCurso.submitted && !curso.idAsignatura" class="invalid-feedback">
            Este campo es obligatorio.
          </div>
        </div>
      </div>

      <!-- Año -->
      <div class="row mb-3 align-items-center">
        <label for="anio" class="col-sm-3 col-form-label">Año</label>
        <div class="col-sm-9">
          <select class="form-select" id="anio" [(ngModel)]="curso.periodo.anio" name="anio"
            [class.is-invalid]="formCurso.submitted && !curso.periodo.anio">
            <option [ngValue]="null" disabled selected>Seleccione un año</option>
            <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
          </select>
          <div *ngIf="formCurso.submitted && !curso.periodo.anio" class="invalid-feedback">
            Este campo es obligatorio.
          </div>
        </div>
      </div>

      <!-- Semestre -->
      <div class="row mb-4 align-items-center">
        <label for="periodoSemestre" class="col-sm-3 col-form-label">Periodo</label>
        <div class="col-sm-9">
          <select class="form-select" [(ngModel)]="curso.periodo.semestre" name="periodoSemestre" id="periodoSemestre"
            [class.is-invalid]="formCurso.submitted && !curso.periodo.semestre">
            <option [ngValue]="null" disabled selected>Seleccione un periodo</option>
            <option *ngFor="let s of [1,2]" [value]="s">{{ s }}</option>
          </select>
          <div *ngIf="formCurso.submitted && !curso.periodo.semestre" class="invalid-feedback">
            Este campo es obligatorio.
          </div>
        </div>
      </div>

      <!-- Botón de crear -->
      <div class="row">
        <div class="col-sm-12 text-end">
          <button class="btn btn-primary px-4" type="button" (click)="crearCurso(formCurso)">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>