<div class="card text-black">
    <div class="card-header">Registrar Docente</div>
    <div class="card-body">
        <form #formEvaluador="ngForm" (ngSubmit)="registrarEvaluador()">

            <!-- Identificación -->
            <div class="form-group">
                <label for="identificacion">Identificación</label>
                    <input type="text" class="form-control" id="identificacion" [(ngModel)]="evaluador.idEvaluador"
                        name="identificacion" required #identificacion="ngModel"
                        [class.is-invalid]="identificacion.invalid && (identificacion.touched || formEvaluador.submitted)">
                    <div *ngIf="identificacion.invalid && (identificacion.touched || formEvaluador.submitted)"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
            </div>

            <!-- Nombres -->
            <div class="form-group">
                <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" id="nombres" [(ngModel)]="evaluador.nombres" name="nombres"
                        required #nombres="ngModel"
                        [class.is-invalid]="nombres.invalid && (nombres.touched || formEvaluador.submitted)">
                    <div *ngIf="nombres.invalid && (nombres.touched || formEvaluador.submitted)"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
            </div>

            <!-- Apellidos -->
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" [(ngModel)]="evaluador.apellidos"
                        name="apellidos" required #apellidos="ngModel"
                        [class.is-invalid]="apellidos.invalid && (apellidos.touched || formEvaluador.submitted)">
                    <div *ngIf="apellidos.invalid && (apellidos.touched || formEvaluador.submitted)"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
            </div>

            <!-- Correo -->
            <div class="form-group">
                <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" [(ngModel)]="evaluador.correo" name="correo"
                        required #correo="ngModel"
                        [class.is-invalid]="correo.invalid && (correo.touched || formEvaluador.submitted)">
                    <div *ngIf="correo.invalid && (correo.touched || formEvaluador.submitted)" class="invalid-feedback">
                        Campo obligatorio y debe tener formato de correo.
                    </div>
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" [(ngModel)]="evaluador.contrasenia"
                        name="contrasena" required #contrasena="ngModel"
                        [class.is-invalid]="contrasena.invalid && (contrasena.touched || formEvaluador.submitted)">
                    <div *ngIf="contrasena.invalid && (contrasena.touched || formEvaluador.submitted)"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="form-group">
                <label for="confirmContrasenia">Confirmar contraseña</label>
                    <input type="password" class="form-control" id="confirmContrasenia"
                        [(ngModel)]="evaluador.confirmarContrasenia" name="confirmContrasenia" required
                        #confirmContrasenia="ngModel"
                        [class.is-invalid]="confirmContrasenia.invalid && (confirmContrasenia.touched || formEvaluador.submitted)">
                    <div *ngIf="confirmContrasenia.invalid && (confirmContrasenia.touched || formEvaluador.submitted)"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
            </div>

            <!-- Botones -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>