<div class="card text-black">
    <div class="card-body">
        <form #formEvaluador="ngForm" (ngSubmit)="registrarEvaluador()">

            <!-- Identificación -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account-box"></i></span>
                <input type="text" class="form-control" id="identificacion" [(ngModel)]="evaluador.idEvaluador"
                    name="identificacion" placeholder="Identificación" required #identificacion="ngModel"
                    [class.is-invalid]="identificacion.invalid && (identificacion.touched || formEvaluador.submitted)">
                <div *ngIf="identificacion.invalid && (identificacion.touched || formEvaluador.submitted)"
                    class="invalid-feedback">
                </div>
            </div>

            <!-- Nombres -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account"></i></span>
                <input type="text" class="form-control" id="nombres" [(ngModel)]="evaluador.nombres" name="nombres" placeholder="Nombres"
                    required #nombres="ngModel"
                    [class.is-invalid]="nombres.invalid && (nombres.touched || formEvaluador.submitted)">
                <div *ngIf="nombres.invalid && (nombres.touched || formEvaluador.submitted)" class="invalid-feedback">
                </div>
            </div>

            <!-- Apellidos -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account"></i></span>
                <input type="text" class="form-control" id="apellidos" [(ngModel)]="evaluador.apellidos" placeholder="Apellidos"
                    name="apellidos" required #apellidos="ngModel"
                    [class.is-invalid]="apellidos.invalid && (apellidos.touched || formEvaluador.submitted)">
                <div *ngIf="apellidos.invalid && (apellidos.touched || formEvaluador.submitted)"
                    class="invalid-feedback">
                    Este campo es obligatorio.
                </div>
            </div>

            <!-- Correo -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-email"></i></span>
                <input type="email" class="form-control" id="correo" [(ngModel)]="evaluador.correo" name="correo" placeholder="Correo electrónico"
                    required #correo="ngModel"
                    [class.is-invalid]="correo.invalid && (correo.touched || formEvaluador.submitted)">
                <div *ngIf="correo.invalid && (correo.touched || formEvaluador.submitted)" class="invalid-feedback">
                    Campo obligatorio y debe tener formato de correo.
                </div>
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-lock"></i></span>
                <input type="password" class="form-control" id="contrasena" [(ngModel)]="evaluador.contrasenia" placeholder="Contraseña"
                    name="contrasena" required #contrasena="ngModel"
                    [class.is-invalid]="contrasena.invalid && (contrasena.touched || formEvaluador.submitted)">
                <div *ngIf="contrasena.invalid && (contrasena.touched || formEvaluador.submitted)"
                    class="invalid-feedback">
                    Este campo es obligatorio.
                </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-lock-outline"></i></span>
                <input type="password" class="form-control" id="confirmContrasenia" placeholder="Confirmar Contraseña"
                    [(ngModel)]="evaluador.confirmarContrasenia" name="confirmContrasenia" required
                    #confirmContrasenia="ngModel"
                    [class.is-invalid]="confirmContrasenia.invalid && (confirmContrasenia.touched || formEvaluador.submitted)">
                <div *ngIf="confirmContrasenia.invalid && (confirmContrasenia.touched || formEvaluador.submitted)"
                    class="invalid-feedback">
                    Este campo es obligatorio.
                </div>
            </div>

            <!-- Botones -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>