<div class="container-fluid pt-4 border-top px-0">
    <footer class="container-fluid px-4 py-1">
        <div class="row text-start text-white">
            <!--Columna 1-->
            <div class="col-md-2 mb-3">
                <h6>Universidad del Cauca</h6>
                <p>NIT. 891500391-2</p>

                <h6>Síguenos en:</h6>
                <div class="social-icons d-flex gap-3">
                    <a href="" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:anaquira@unicauca.edu.co" title="Email"><i class="fas fa-envelope"></i></a>
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <h5>Enlaces de interés</h5>
                <a href="" class="text-white d-block">Política de privacidad y tratamiento de datos personales</a>
                <a href="" class="text-white d-block">Política de derechos de autor y/o autorización sobre uso de
                    contenidos</a>
                <a href="" class="text-white d-block">Canales físicos y electrónicos</a>
            </div>

            <div class="col-md-5 mb-3">
                <h5>Contáctenos</h5>
                Dirección: Calle 5 # 4-70 | Popayán, Colombia<br />
                Telefono: +57 (602) 820 9900<br />
                Línea gratuita: 018000 949020<br />
                <br />
                <h5>Horario de atención</h5>
                Lunes a jueves de 8:00 a.m. a 5:00 p.m. - Viernes de 8:00 a.m. a 4:00 p.m.<br />
            </div>
        </div>
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-center text-white my-2">
                &copy; {{proyecto.nombre+' '+proyecto.anio+' | Autores: '+autores}}
            </p>
        </div>
    </footer>
</div>