<div class="card bg-light">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
    
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "competenciasAprendizajeP.nombre" name="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="programa" class="col-form-label col-sm-2">Programa</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "competenciasAprendizajeP.programa" name="programa">
                </div>
            </div>
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "competenciasAprendizajeP.descripcion" name="descripcion">
                </div>
            </div>

            <!--
            <div class="form-group row">
                <label for="estado" class="col-form-label col-sm-2">Estado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "competenciasAprendizajeP.nivel" name="estado">
                </div>
            </div>
            -->
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)= "crearCAP()">Crear Competencia</button>
                </div>
            </div>
        </form>
    
    </div>
</div>
