<div class="card text-white ng secondary mb-3" style="max-widht: 18rem;">
    <div class="card-header">Competencias</div>
    <div class="card-body">
        <h5 class="card-title">Listado de Competencias</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Titulo</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compentencia of cp">
                    <td>{{compentencia.descripcion}}</td>
                    <td>{{compentencia.programa}}</td>
                    <td>{{compentencia.estado}}</td>
                </tr>
            </tbody>
        </table>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button">Crear Compentencia</button>
        </div>

    </div>
</div>