<!--
<div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/compentenciasAprendizaje/crearCompetenciasAprendizajeA']">Crear Competencia</button>
</div>
<h5 class="card-title">Listado de Compentencias de Aprendizaje de Asignatura</h5>
-->
<div *ngIf="competenciasA?.length==0" class="alert alert-info">
    No hay competencias aprendizaje de asignatura registradas.
</div>

<table class="table table-bordered table-striped" *ngIf="competenciasA.length>0">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Estado</th>
            <!--<th>Opciones</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let competenciasAprendizajeA of competenciasA">
            <td>{{competenciasAprendizajeA.descripcion}}</td>
            <td>{{competenciasAprendizajeA.estado}}</td>
            <!--
            <td>
                <button (click)="editarCliente(cliente.id)" class="btn btn-warning">Editar</button>
                <button (click)="eliminarCliente(cliente.id)" class="btn btn-danger">Eliminar</button>
            </td> 
            -->
        </tr>
    </tbody>
</table>