<div class="card text-black">
    <div class="card-body">
        <form>
            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account-box"></i></span>
                <input type="text" class="form-control" [(ngModel)]="docente.cedula" name="identificacion"
                    placeholder="Identificación" required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account"></i></span>
                <input type="text" class="form-control" [(ngModel)]="docente.nombres" name="nombres"
                    placeholder="Nombres" required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-account"></i></span>
                <input type="text" class="form-control" [(ngModel)]="docente.apellidos" name="apellidos"
                    placeholder="Apellidos" required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-label"></i></span>
                <select class="form-control" required [(ngModel)]="docente.tipo" name="tipo">
                    <option value="" disabled>Tipo</option>
                    <option>Cátedra</option>
                    <option>Tiempo Completo</option>
                    <option>Planta</option>
                </select>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-graduation-cap"></i></span>
                <input type="text" class="form-control" [(ngModel)]="docente.titulo" name="titulo" placeholder="Titulo"
                    required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-email"></i></span>
                <input type="text" class="form-control" [(ngModel)]="docente.correo" name="correo" placeholder="Correo"
                    required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-lock"></i></span>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña"
                    [(ngModel)]="docente.contrasenia" (ngModelChange)="validarContrasenias()" name="contrasena"
                    required>
            </div>

            <div class="form-group">
                <span class="input-icon"><i class="zmdi zmdi-lock-outline"></i></span>
                <input type="password" class="form-control" id="repetirContrasenia" placeholder="Repetir Contraseña"
                    [(ngModel)]="repetirContrasenia" (ngModelChange)="validarContrasenias()" name="repetirContrasenia"
                    required>
                <div *ngIf="!contraseniasCoinciden && repetirContrasenia" class="text-danger">
                    Las contraseñas no coinciden.
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" role="button" (click)='registrarDocente()'>Registrar</button>
            </div>
        </form>
    </div>
</div>