<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Docentes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de docentes</h5>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombres</th>
            <th>apellidos</th>
            <th>correo</th>
            <th>titulo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let docente of docentes">
            <td>{{docente.id}}</td>
            <td>{{docente.nombres}}</td>
            <td>{{docente.apellidos}}</td>
            <td>{{docente.correo}}</td>
            <td>{{docente.titulo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>