<div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/CompetenciasAprendizaje/crearCompetenciasAprendizajeP/']">Crear Competencia</button>
</div>
<h5 class="card-title">Listado de Competencias de Aprendizaje de Programa</h5>
<div *ngIf="competenciasAprendizajeP?.length==0" class="alert alert-info">
    No hay registros en la base de datos
</div>
<table class="table table-bordered table-striped" *ngIf="competenciasAprendizajeP.length>0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Programa</th>
            <th>Descripción</th>
            <th>Estado</th>
            <!--<th>Opciones</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let competenciasAprendizajeP of competenciasAprendizajeP">
            <td>{{competenciasAprendizajeP.id}}</td>
            <td>{{competenciasAprendizajeP.programa}}</td>
            <td>{{competenciasAprendizajeP.descripcion}}</td>
            <td>{{competenciasAprendizajeP.nivel}}</td>
            <!--
            <td>
                <button (click)="editarCliente(cliente.id)" class="btn btn-warning">Editar</button>
                <button (click)="eliminarCliente(cliente.id)" class="btn btn-danger">Eliminar</button>
            </td> 
            -->
        </tr>
    </tbody>
</table>