<div class="container mt-4">
  <div class="row">
    <!-- Competencias de programa -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 position-relative">
        <h5 class="mb-3 d-flex justify-content-between align-items-center">
          Competencias de programa
          <button class="btn btn-sm btn-outline-success rounded-circle" (click)="irACrearCompetenciaP()">
            +
          </button>
        </h5>
        <app-competencias-aprendizaje-p></app-competencias-aprendizaje-p>
      </div>
    </div>

    <!-- Competencias de asignatura -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 position-relative">
        <h5 class="mb-3 d-flex justify-content-between align-items-center">
          Competencias de asignatura
          <button class="btn btn-sm btn-outline-success rounded-circle" (click)="irACrearCompetenciaA()">
            +
          </button>
        </h5>
        <app-listar-compentencia-a></app-listar-compentencia-a>
      </div>
    </div>

    <!-- Resultados de aprendizaje de programa -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 position-relative">
        <h5 class="mb-3 d-flex justify-content-between align-items-center">
          Resultados de aprendizaje de programa
          <button class="btn btn-sm btn-outline-success rounded-circle" (click)="irACrearRAP()">
            +
          </button>
        </h5>
        <app-resultados-p></app-resultados-p>
      </div>
    </div>

    <!-- Resultados de aprendizaje de asignatura -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p-3 position-relative">
        <h5 class="mb-3 d-flex justify-content-between align-items-center">
          Resultados de aprendizaje de asignatura
          <button class="btn btn-sm btn-outline-success rounded-circle" (click)="irACrearRAA()">
            +
          </button>
        </h5>
        <app-listar-raa></app-listar-raa>
      </div>
    </div>
  </div>
</div>
