header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000066;
    color: white;
}

.logo-container {
    align-items: center;
    padding: 5px;
}

.logo-container img {
    width: 40%;
    height: auto;
}

.sistema-info {
    text-align: center;
    align-items: center;
}

.sistema-info h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #dcdcdc;
}