<div class="container-fluid">
    <header>
        <div class="align-items-left">
            <div class="sistema-info">
                <h1>{{title}}</h1>
                <h2>{{facultad}}</h2>
                <h3>{{programa}}</h3>
                <p>{{descripcion}}</p>
            </div>
            <div class="social-icons">
                <a href="" target="_blank" title="Página Web"><i class="fab fa-linkedin"></i></a>
                <a href="" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </header>
</div>
