<div class="container-fluid border-bottom px-0">
    <header class="container-fluid px-3 py-1">
        <div class=" d-flex justify-content-between align-items-center">
            <div class="logo-container">
                <img src="assets/Imagenes/Logo-Universidad-del-Cauca-horizontal.png" alt="Logo" class="img-thumbnail" />
            </div>

            <div class="sistema-info flex-grow-1">
                <h1 class="mb-0">{{title}}</h1>

                <div class="social-icons d-flex gap-3">
                    <a href="" target="_blank" title="Página Web"><i class="fab fa-linkedin"></i></a>
                    <a href="" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </header>
</div>