<div class="card bg-dark text-white">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <form #formRAP="ngForm">

            <!--Input descripción-->
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="resultadoP.descripcion" name="descripcion"
                        id="descripcion" [class.is-invalid]="formRAP.submitted && !resultadoP.descripcion">
                    <div *ngIf="formReserva.submitted && !reserva.nombres" class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
                </div>
            </div>

            <!--Input Programa-->
            <div class="form-group row">
                <label for="programa" class="col-form-label col-sm-2">Programa</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="resultadoP.programa" name="programa">
                </div>
            </div>

            <!--Select Compentencia-->
            <div class="form-group row">
                <label for="competencia" class="col-form-label col-sm-2">Competencia</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="resultadoP.objCompetencia.id" name="competencia"
                        id="competencia" [class.is-invalid]="formRAP.submitted && !resultadoP.objCompetencia.id">
                        <option *ngFor="let competencia of competencias" [value]="competencia.id">{{
                            competencia.descripcion }}</option>
                    </select>
                    <div *ngIf="formCurso.submitted && !resultadoP.objCompetencia.id" class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
                </div>
            </div>

            <!-- Botón de crear -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="crearResultadoP(formRAP)">Crear</button>
                </div>
            </div>

            <!-- Botón de cancelar -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-danger" role="button"
                        [routerLink]="['/resultados/listarResultados']">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>