<!--
<div class="card text-white ng secondary mb-3" style="max-widht: 18rem;">
    <div class="card-header">Docentes</div>
    <div class="card-body">
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/cursos/crearCursos']">Crear
                Curso</button>
        </div>

    </div>
</div>
-->
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button class="btn btn-outline-secondary rounded-pill px-4" (click)="toggleCrear()" *ngIf="!isEvaluador">
            {{ mostrarCrear ? 'Cerrar' : 'Crear curso' }}
        </button>
    </div>

    <!-- Mostrar formulario de creación -->
    <div *ngIf="mostrarCrear" class="mb-4">
        <app-crear-cursos></app-crear-cursos>
    </div>

    <!-- Lista de cursos 
    <app-listar-cursos></app-listar-cursos>
    -->
    <div *ngIf="cursos?.length==0" class="alert alert-info">
        No hay registros en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="cursos.length>0">
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Periodo</th>
                <th>Año</th>
                <th>Rúbricas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">
                <td>{{curso.asignatura.nombre}}</td>
                <td>{{curso.periodo.semestre}}</td>
                <td>{{curso.periodo.anio}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/rubricas', curso.id]">
                        Ver Rúbricas
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>