<div *ngIf="resultadop?.length==0" class="alert alert-info">
    No hay registros en la base de datos
</div>
<table class="table table-bordered table-striped" *ngIf="resultadop.length>0">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Programa</th>
            <th>Competencia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resultado of resultadop">
            <td>{{resultado.descripcion}}</td>
            <td>{{resultado.programa}}</td>
            <td>{{resultado.objCompetencia.descripcion}}</td>
        </tr>
    </tbody>
</table>